/* Estilos específicos para la vista de edición */
#coverImage {
    transition: transform 0.3s ease;
    border: 1px solid #e9ebec;
}

#coverImage:hover {
    transform: scale(1.02);
}

.edit-form label {
    margin-top: 10px;
}

.edit-form .form-control:focus {
    border-color: #405189;
    box-shadow: 0 0 0 0.1rem rgba(64, 81, 137, .25);
}